[submodule "jungehaie"]
	path = jungehaie
	url = https://github.com/vintagesucks/.dotfiles-jungehaie.git
[submodule "personal"]
	path = personal
	url = https://github.com/vintagesucks/.dotfiles-personal.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
